<html>
    <head>
        <title>Ask Question</title>
    </head>
    <body>
        <h2>Add Question</h2>
        <form method='POST'>
            <label for = "question">Question</label>
            <input name= "question" id="question"><br><br>
            <label for = "option1">Option 1</label>
            <input name = "option1" id="option1"><br><br>
            <label for = "option2">Option 2</label>
            <input name = "option2" id="option2"><br><br>
            <label for = "option3">Option 3</label>
            <input name = "option3" id="option3"><br><br>
            <label for = "option4">Option 4</label>
            <input name = "option4" id="option4"><br><br>
            <label for = "correct">Correct Option:</label>
            <input name = "correct" id="correct"><br><br>
            <input type="submit" value="submit"><br><br>
        </form>
    </body>
</html>