<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher's Dashboard</title>
</head>
<body>
    <a href="{% url 'logout' %}">logout</a><br>
    <a href="{% url 'addclass' %}">add class</a><br>
    <a href="{% url 'recordroom' %}">Recording Room</a><br>
    <a href="{% url 'recordings' %}">Recording Collection</a><br>

    <h1>classes</h1>
    {% for class in classes %}
        <a href="{% url 'classroom' class.id %}">
            <div>
                <h3>Name: {{class.name}}</h3>
                <h3>Subject: {{class.subject}}</h3>
            </div>
        </a>
        <br>
    {% endfor %}
</body>
</html>