<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question/Ans</title>
</head>
<body>
    <a href="{% url 'askques' classid %}">Ask Question</a>
    <br>
    <h2>Asked Questions</h2>
    {% for ques in questions %}
        <strong>Question: </strong>{{ques.question}}<br>
        <ul>
            <li>{{ques.option1}}</li>
            <li>{{ques.option2}}</li>
            <li>{{ques.option3}}</li>
            <li>{{ques.option4}}</li>
        </ul>
        <b>Correct Answer: </b>{{ques.correct}}<br>
        <a href="{% url 'report' classid ques.id %}">Report</a>
    {% endfor %}
</body>
</html>