<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Recording</title>
</head>
<body>
    <form method="POST">
        {% for i in recordings %}
        <input type="radio" name="audio" id ="audio" value="{{i.id}}">
        <strong>Title: </strong>{{i.title}}<br>
        <audio controls>
            <source src="{{i.audio.url}}">
        </audio><br>
        {% endfor %}
        <input type="submit" value="submit">
    </form>
</body>
</html>